<h1>Gestionnaire de tâches</h1>

<%= link_to "Ajouter une nouvelle tâche", new_task_path %>

<ul>
<% @tasks.each do |task| %>
    <li> <strong><%= task.name %></strong> -
         <%= task.done_task ? "Fait" : "A faire" %> -
         <%= link_to "Voir le détail", task_path(task)  %> -
         <%= link_to "Editer", edit_task_path(task)  %> -
         <%= link_to "Supprimer", task_path(task), method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
<% end %>
</ul>
